/* This file will hold styles that are loaded using the same media query as the wide grid. */

/*
* By default this style sheet will apply only to the widescreen layout.
* Default media query for the wide layout is: all and (min-width: 1220px)
*/


/* HTML */

img.right, img.left, img.border {
  width: 40%;
}

img.right-small,
img.left-small {
  width: 25%;
}

iframe.responsive {
  width: 60%;
}

a.sf-depth-1 {
  width: 275px;
}

.panel-2col-stacked .panel-col-first,
.panel-2col-bricks .panel-col-first {
  width: 50%;
}

.panel-2col-stacked .panel-col-last,
.panel-2col-bricks .panel-col-last {
  width: 49.9%;
}


/* HEADER */

#quick-links {
  font-size: .9em;
  height: 1.75em;
}

#quick-links-wrapper {
  max-width: 1220px;
  margin: 0 auto;
}

#nav-wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding-left: 40px;
}

#nav {
  width: 100%;
  height: 0;
  background: #262b2d;
  padding: .5em 0 3em 0;
}

ul.nav li {
  padding-right: 1.6em;
  font-size: 1.2em;
  margin-top: 0;
  margin-left: 0;
}

#logo-action {
  height: 5em;
  font-size: 1.25em;
}

#logo-action a:focus {
    border: 0;
    text-decoration: underline;
    background: #262b2d;
    color: #f8f8f8;
}

#logo-action-wrapper {
  max-width: 1220px;
  margin: 0 auto;
}

img.primary-logo {
  display: inline-block;
  float: left;
  width: 240px;
  margin-top: -.05em;
}

img.horizontal-logo {
    display: none;
}

ul.logo-action-links {
  display: inline-block;
  margin: 0;
  padding-top: 1.175em;
}


/* SEARCH */

.search {
  display: block;
  padding: .1em 30px 0 0;
  margin-top: 0;
}

.search input {
  border: 1px solid #262b2d;
  height: 35px;
}

.search input[type=submit] {
  background: url("https://www.vancouver.wsu.edu/sites/www.vancouver.wsu.edu/themes/omegawsuv/search.png") no-repeat center center;
  width: 34px;
  height: 34px;
  background-size: 34px;
  border: none;
  color: transparent;
  border-radius: 0;
}

.search-form {
  display: inline;
}


/* HOMEPAGE */

.view-home-image-slider img {
  max-width: 100%;
  height: auto;
}

.flexslider {
  margin: 0 0 5em;
}

ol.flex-control-nav {
  bottom: -40px;
}

.events-item-list ul, .pr-item-list ul {
  list-style-type: none;
  margin-top: -.5em;
}

h1.home-image-caption {
  font-size: 2em;
}


/* LANDING PAGES */

img.right-icon {
  float: right;
  margin: 0 0 15px 15px;
  width: 15%;
}


/* FOOTER */

#sitemap-wrapper {
  max-width: 1220px;
}

#sitemap-footer {
  height: 26em;
}

#sitemap-footer a:hover {
  padding: 3px 6px;
  margin: -3px -6px;
  background: #fff;
  color: #262b2d;
  text-decoration: none;
}

#copyright {
  height: 11em;
}

#copyright-wrapper {
  max-width: 1220px;
}

#copyright ul.contact-info li.list-title {
    display: none;
}

#copyright p.social img {
    margin-left: 0;
}
